
button{
    margin: 0 auto;
    padding: rem(12) rem(30);
    color: $white;
    font-size: rem(16);
    border-radius: rem(35);
    background: $secondaryColor;
    &.copyAcc,
    &.copyAdd{
        padding: rem(3) rem(9);
        color: $mainColor;
        font-size: rem(13);
        background: transparent;
        border-radius: 4px;
        border: 1px solid $secondaryColor;
    }
}