@font-face{
    font-display: swap; //선랜더링 후폰트적용
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 400;
    src: url(../font/NotoSansKR-Regular.woff) format('woff');
}
@font-face{
    font-display: swap;
    font-family: "NotoSansKR";
    font-style: medium;
    font-weight: 500;
    src: url(../font/NotoSansKR-Medium.woff) format('woff');
}
