
@mixin heightArray{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin sideArray{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin stretchArray{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

@mixin endArray{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@mixin scroll_0{
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}
  