
h1{
    font-size: rem(50);
    font-weight: normal;
    text-align: left;
    &.day{
        text-align: right;
        position: relative;
        &::before{
            content:'';
            width: 1px;
            height: 25px;
            background: black;
            opacity: 0.6;
            position: absolute;
            top: -20%;
            left: 50%;
            transform: rotate(30deg) translateX(-50%);
        }
    }
}

h3{
    &.tit{
        color: $secondaryColor;
        color: $pointColor;
        font-size: rem(16);
        // font-family: 'NotoSansKR', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }
    &::after{
        content:'';
        width: 8px;
        height: 2px;
        background: $secondaryColor;
        background: $pointColor;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.h3_sub{
    margin-top: 5px;
    font-size: rem(14);
}
.comment{
    text-align: center;
    &.sub{
        margin-top: 10px;
        text-align: center;
        letter-spacing: 0   ;
        color: $secondaryColor;
        font-family: "GowunBatang", serif;
    }
}