

//메인컬러
$mainColor : #656b75;
$secondaryColor : #acb0b6;
$pointColor : #edd2ad;
$bgColor : #f8f9f8;

$white: #fff;
$black : #222;


body{
    // max-width: rem(759);
    min-width: rem(360);
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: $bgColor;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: $secondaryColor;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}



section{
    &.cover{
        padding: 15vh 15vw;
        height: 80vh;
        border-bottom-left-radius: rem(100);
        border-bottom-right-radius: rem(100);
        background: url(../img/mainBg.jpg) no-repeat;
        background-position: bottom center;
        background-size: cover;
        box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
        position: relative;
        z-index: 10;
    }
    &.contWrapper{
        background: $bgColor;
    }
    .upper,
    .sub{
        text-align: center;
        color: $pointColor;
        font-family: 'Great Vibes', cursive;
    }
}

//weddingday
.arch{
    height: 24px;
    position: relative;
    span{
        position: absolute;
        transform-origin: center 7.89474em 0px;
    }
    .w{transform: rotate(-17.157deg);}
    .e{transform: rotate(-13.4275deg);}
    .d0{transform: rotate(-9.9817deg);}
    .d1{transform: rotate(-6.5deg);}
    .i{transform: rotate(-2deg);}
    .n{transform: rotate(0.5deg);}
    .g{transform: rotate(4.8014deg);}
    .d2{transform: rotate(11.2021deg);}
    .a{transform: rotate(14.843deg);}
    .y{transform: rotate(18.843deg);}
}


//표지
.cover{
    .wrapper{
        text-align: center;
        // background: rgba(0,0,0,0.2);
    }
    .year{
        font-family: 'Gowun Batang', serif;
    }
    .main{
        margin-top: 6vh;
        padding: 0 rem(60);
        .date{
            margin: 0 auto;
            padding: 0 rem(20);
            max-width: rem(150);
            // background: rgba(0,0,0,0.2);
            font-family: 'Hedvig Letters Serif', serif;
            font-weight: 500;
        }
        h1{
            font-size: rem(50);
            font-weight: normal;
            text-align: left;
            &.day{
                text-align: right;
                position: relative;
                &::before{
                    content:'';
                    width: 1px;
                    height: 25px;
                    background: black;
                    opacity: 0.6;
                    position: absolute;
                    top: -20%;
                    left: 50%;
                    transform: rotate(30deg) translateX(-50%);
                }
            }
        }
        .name{
            margin-top: 7vh;
            span{
                font-size: rem(16);
            }
        }
    }
    .sub{
        margin-top: 3vh;
    }
}

//내부
.contWrapper{
    > div{        
        padding: rem(60) rem(30);
        &.ending{
            padding-bottom: rem(180);            
            letter-spacing: 1px;
            font-family: 'Great Vibes', cursive;
        }
    }
    h3{
        color: $secondaryColor;
        font-size: rem(16);
        font-family: 'NotoSansKR', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        position: relative;
        &::after{
            content:'';
            width: 8px;
            height: 2px;
            background: $secondaryColor;
            position: absolute;
            bottom: -15px;
            left: 0;
        }
    }
    .cont{
        margin-top: rem(50);
        color: $mainColor;
    }    
}

//초대말
.invitation{
    .greeting{
        margin-top: rem(25);
        line-height: 1.6;
    }
    .info{
        margin-top: rem(80);
        line-height: 1.6;
        text-align: right;
        .space{
            margin-top: rem(30);
        }
    }
    button{
        display: block;
        margin: 0 auto;
        margin-top: rem(70);
        padding: rem(12) rem(30);
        color: $white;
        font-size: rem(18);
        border-radius: rem(35);
        background: $secondaryColor;
    }
}

//갤러리
.gallery{
    background: $white;
    .photo{
        margin-top: rem(40);
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        //https://minhanpark.github.io/today-i-learned/css-responsive-square/
        li{
            flex: 1 1 45%;
            max-width: rem(250);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            img{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                filter : grayscale(1);
                // height: 100%;
            }
        }
    }
}

//달력
.calendar{
    .cont{
        margin-top: rem(10);
        padding: 0 rem(15);
        text-align: center;
    }
    .month{
        font-size: rem(24);
    }
    table{
        margin: rem(60) 0;
        width: 100%;
        td{
            padding: 15px 0;
            &.dDay{
                color: $white;
                position: relative;
                span{
                    position: relative;
                    z-index: 10;
                }
                .heartWrap{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -35%);
                }
            }
            //https://codingbroker.tistory.com/55
            .heart{
                width: 16px;
                height: 16px;
                background: $mainColor;
                position: relative;
                transform: rotate(45deg);
                &::before,
                &::after{
                    content: "";
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: -50%;
                    border-radius: 50%;
                    background: $mainColor;
                }
                &::after {
                    left: 0;
                    top: -50%;
                }
            }
        }
    }
    .wDay{
        font-weight: bold;
    }
}

//save
.save{
    padding: 1.875rem 0 !important;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    background: $white;
}

//교통
.traffic{
    .means{
        color: $secondaryColor;
        // font-family: "NotoSansKR", sans-serif;   
    }
    .info{
        line-height: 24px;
        margin-bottom: rem(30);
    }
    .map{
        margin: rem(50) -30px;
        width: calc(100% + 60px);
        height: 300px;
    }
}

//계좌
.account{
    .accWrap{
        margin-top: rem(40);
    }
    .accBox{
        width: 100%;
        text-align: center;
        background: $white;
        border-radius: 6px;
        border: 1px solid $secondaryColor;
        &.is-active{
            padding: 0;
            .accHead{
                padding: rem(10);
                border-bottom: 1px solid $secondaryColor;
                &::after{
                    top: 45%;
                    transform: rotate(180deg);
                }
            }
            .accBody{
                display: block;
            }
        }
        & + .accBox{
            margin-top: rem(20);
        }
    }
    .accHead{
        padding: rem(10);
        position: relative;
        &::after{
            content:'';
            width: 9px;
            height: 6px;
            background: url(../\img/arrow.png) no-repeat;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .accBody{
        display: none;
        padding: 0 rem(20);
        text-align: left;
        li{
            padding: rem(20) 0;
            line-height: 30px;
            position: relative;
            & + li{
                border-top: 1px solid $secondaryColor;
            }
        }
        button{
            padding: rem(3) rem(9);
            color: $mainColor;
            background: transparent;
            border-radius: 4px;
            border: 1px solid $secondaryColor;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}

//끝
.ending{
    text-align: center;
    color: $secondaryColor;
    background: url(../img/endBg.png) bottom center;
    background-repeat-y: no-repeat;
}