body, html {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Gowun Batang", serif;
  font-weight: normal;
  letter-spacing: -0.5px;
}

body {
  -webkit-text-size-adjust: none;
}
body * {
  box-sizing: border-box;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #29292c;
  text-decoration: none;
  cursor: pointer;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  font-family: "Gowun Batang", serif;
  font-weight: normal;
  letter-spacing: -0.5px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

img {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  min-width: 22.5rem;
}

section.coverWrapper {
  position: relative;
  z-index: 10;
  transition: all 1s ease-in-out;
}
section.coverWrapper .cover {
  padding: 15vh 15vw;
  height: 80vh;
  border-bottom-left-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  background: url(../img/mainBg.jpg) no-repeat;
  background-position: bottom center;
  background-size: cover;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
}
section.contWrapper {
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  top: 0;
}
section.contWrapper .contBox {
  background: #f8f9f8;
}
section .upper,
section .sub {
  text-align: center;
  color: #edd2ad;
  font-family: "Great Vibes", cursive;
}

.cover .wrapper {
  text-align: center;
}
.cover .year {
  font-family: "Gowun Batang", serif;
}
.cover .main {
  margin-top: 6vh;
}
.cover .main .date {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 9.375rem;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 500;
}
.cover .main h1 {
  font-size: 3.125rem;
  font-weight: normal;
  text-align: left;
}
.cover .main h1.day {
  text-align: right;
  position: relative;
}
.cover .main h1.day::before {
  content: "";
  width: 1px;
  height: 25px;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: rotate(30deg) translateX(-50%);
}
.cover .main .name {
  margin-top: 7vh;
}
.cover .main .name span {
  font-size: 1rem;
}
.cover .sub {
  margin-top: 3vh;
}

.contBox > div {
  padding: 3.75rem 1.875rem;
}
.contBox > div.ending {
  padding-bottom: 11.25rem;
  letter-spacing: 1px;
  font-family: "Great Vibes", cursive;
}
.contBox h3 {
  color: #acb0b6;
  font-size: 1rem;
  font-family: "NotoSansKR", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
}
.contBox h3::after {
  content: "";
  width: 8px;
  height: 2px;
  background: #acb0b6;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.contBox .cont {
  margin-top: 3.125rem;
  color: #656b75;
}
.contBox .arch {
  height: 24px;
  position: relative;
}
.contBox .arch span {
  position: absolute;
  transform-origin: center 7.89474em 0px;
}
.contBox .arch .w {
  transform: rotate(-17.157deg);
}
.contBox .arch .e {
  transform: rotate(-13.4275deg);
}
.contBox .arch .d0 {
  transform: rotate(-9.9817deg);
}
.contBox .arch .d1 {
  transform: rotate(-6.5deg);
}
.contBox .arch .i {
  transform: rotate(-2deg);
}
.contBox .arch .n {
  transform: rotate(0.5deg);
}
.contBox .arch .g {
  transform: rotate(4.8014deg);
}
.contBox .arch .d2 {
  transform: rotate(11.2021deg);
}
.contBox .arch .a {
  transform: rotate(14.843deg);
}
.contBox .arch .y {
  transform: rotate(18.843deg);
}

.invitation .greeting {
  margin-top: 1.5625rem;
  line-height: 1.6;
}
.invitation .info {
  margin-top: 5rem;
  line-height: 1.6;
  text-align: right;
}
.invitation .info .space {
  margin-top: 1.875rem;
}
.invitation button {
  display: block;
  margin: 0 auto;
  margin-top: 4.375rem;
  padding: 0.75rem 1.875rem;
  color: #fff;
  font-size: 1.125rem;
  border-radius: 2.1875rem;
  background: #acb0b6;
}

.gallery {
  background: #fff;
}
.gallery .photo {
  margin-top: 2.5rem;
}
.gallery .photo ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery .photo li {
  flex: 1 1 45%;
  max-width: 15.625rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.gallery .photo li:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.gallery .photo li img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
}

.calendar .cont {
  margin-top: 0.625rem;
  padding: 0 0.9375rem;
  text-align: center;
}
.calendar .month {
  font-size: 1.5rem;
}
.calendar table {
  margin: 3.75rem 0;
  width: 100%;
}
.calendar table td {
  padding: 15px 0;
}
.calendar table td.dDay {
  color: #fff;
  position: relative;
}
.calendar table td.dDay span {
  position: relative;
  z-index: 10;
}
.calendar table td.dDay .heartWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}
.calendar table td .heart {
  width: 16px;
  height: 16px;
  background: #656b75;
  position: relative;
  transform: rotate(45deg);
}
.calendar table td .heart::before, .calendar table td .heart::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: -50%;
  border-radius: 50%;
  background: #656b75;
}
.calendar table td .heart::after {
  left: 0;
  top: -50%;
}
.calendar .wDay {
  font-weight: bold;
}

.save {
  padding: 1.875rem 0 !important;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
}

.traffic .means {
  color: #acb0b6;
}
.traffic .info {
  line-height: 24px;
  margin-bottom: 1.875rem;
}
.traffic .map {
  margin: 3.125rem -30px;
  margin-bottom: 0;
  width: calc(100% + 60px);
  height: 300px;
}

.account {
  padding-top: 0;
}
.account .accWrap {
  margin-top: 2.5rem;
}
.account .accBox {
  width: 100%;
  text-align: center;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #acb0b6;
}
.account .accBox.is-active {
  padding: 0;
}
.account .accBox.is-active .accHead {
  padding: 0.625rem;
  border-bottom: 1px solid #acb0b6;
}
.account .accBox.is-active .accHead::after {
  top: 45%;
  transform: rotate(180deg);
}
.account .accBox.is-active .accBody {
  display: block;
}
.account .accBox + .accBox {
  margin-top: 1.25rem;
}
.account .accHead {
  padding: 0.625rem;
  position: relative;
}
.account .accHead::after {
  content: "";
  width: 9px;
  height: 6px;
  background: url(../img/arrow.png) no-repeat;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.account .accBody {
  display: none;
  padding: 0 1.25rem;
  text-align: left;
}
.account .accBody li {
  padding: 1.25rem 0;
  line-height: 30px;
  position: relative;
}
.account .accBody li + li {
  border-top: 1px solid #acb0b6;
}
.account .accBody button {
  padding: 0.1875rem 0.5625rem;
  color: #656b75;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #acb0b6;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.ending {
  text-align: center;
  color: #acb0b6;
  background: url(../img/endBg.png) bottom center;
  background-repeat-y: no-repeat;
}

/*# sourceMappingURL=style.css.map */
